@import '../vars.scss';

.certification{
  padding: $padding-container;
  &__item{
    display: flex;
    padding: $padding-container;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $main-color;
    border-radius: 2px;
    margin-bottom: 15px;
    background-color: $background-color;
  }
  &__item-detail{
    width: 50%;
  }
  &__item-image{
    width: 50%;
  }
}


.images{
}
.certification-details{
  width: 50%;
}