@import '../vars.scss';


.header{
  display: flex;
  height: 90px;
  justify-content: space-between;
  background-color: $main-color;  
  align-items: center;
  padding: $padding-container;
  img {
    width: 150px;
  }
  ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: $clear-color;
    text-decoration: none;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
  }
  h1, h2,h3,h4,h5,h6{
    margin: 0;
  }
  &__logo span{
    display: flex;
    align-items: center;
  }
  &__logo img {
    height: 90%;
  }
  h1 {
    font-size: 40px;
    font-family: $logo-font;
    color: $clear-color;
  }
}
