@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



$main-color: #453c2c;
$second-color: invert($main-color);
$clear-color: white;
$background-color: #e9edef;
$dark-color: black;

$logo-font: 'Righteous', Arial;
$main-font: 'Roboto Slab', Arial;

$padding-container: 0 10px;

$border-radius: 4px;

$mobile-size: 320px;

/*MIXIN*/
@mixin shadow($color){
  box-shadow: 5px 5px 10px $color;
}
@mixin button(){
  padding: 10px 20px;
  display: block;
  border: 2px solid $background-color;
  border-radius: $border-radius;
  color: $main-color;
  cursor: pointer;
}
@mixin btn-hover(){
  background-color: $main-color;
  color: $clear-color;
}