@import './vars.scss';
body{
  margin: 0px;
  background-color: $clear-color;
  font-family: $main-font, Arial, Helvetica, sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1000px;
}


