@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



$main-color: #453c2c;
$second-color: invert($main-color);
$clear-color: white;

$logo-font: 'Righteous', Arial;
$main-font: 'Roboto Slab', Arial;

$padding-container: 0 10px;